/*global scope*/
:root {
    --red: #ff6f69;
    --yellow: #ffcc5c;
    --background-beige: #ffeead;
}

html, body {
    background: var(--background-beige);
    color: var(--red);
}

h1, p {
    color: var(--red);
}

/*local scope*/
#navbar {
    --nav-red: #ff6f19;
}

#navbar a {
    color: var(--nav-red);
}

/*overriding vars - class scope*/
.item {
    /* --red: #ff8e69; */
    background: var(--yellow);
}

button {
    background: var(--red);
    color: var(--yellow);
}