/* Variables */
/*global scope*/
:root {
    --red: #ff6f69;
    --yellow: #ffcc5c;
    --background-beige: #ffeead;
}

.grid {
    --columns: 200px 200px;
}

/* Styles */

html, body {
    background: var(--background-beige);
    color: var(--red);
}

h1, p {
    color: var(--red);
}

/*local scope*/
#navbar {
    --nav-red: #ff6f19;
}

#navbar a {
    /* color: var(--nav-red); */
    color: var(--red);    
}

/*overriding vars - class scope*/
.item {
    /* --red: #ff8e69; */
    background: var(--yellow);
}

button {
    background: var(--red);
    color: var(--yellow);
}

.grid {
    display: grid;
    grid-template-columns: var(--columns);
    grid-auto-rows: 140px;
    grid-gap: 20px;
    justify-content: center;
}


@media all and (max-width: 450px) {
    :root {
        --beige: whitesmoke;
    }
    
    .grid {
       --columns: 200px;   
    }
}