:root {
    --red: #ff6f69;
    --yellow: #ffcc5c;
    --background-beige: #ffeead;
}

html, body {
    background: var(--background-beige);
    color: var(--red);
}

h1, p {
    color: var(--red);
}

#navbar a {
    color: var(--red);
}

.item {
    background: var(--yellow);
}

button {
    background: var(--red);
    color: var(--yellow);
}